[submodule "KNFoundation"]
	path = KNFoundation
	url = https://github.com/iKenndac/KNFoundation.git
[submodule "DropNet"]
	path = DropNet
	url = https://github.com/dkarzon/DropNet.git
[submodule "SharpZipLib"]
	path = SharpZipLib
	url = https://github.com/icsharpcode/SharpZipLib.git
